body, html {
  margin: 0; /* 바깥쪽 여백 */
  padding: 0; /* 안쪽 여백 */
  word-break: keep-all;
  border: 0; /* 선 */
  font-size: 100%; /* 글자 크기 */
  font-style: normal; /* 글자 스타일 */
  font-weight: normal;
  line-height: 1.5;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
};

.multi-repeating-linear {
  background:
      repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px),
      repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px),
      repeating-linear-gradient(23deg, red 50px, orange 100px,
        yellow 150px, green 200px, blue 250px,
        indigo 300px, violet 350px, red 370px);
}

details{
  width: 100%;
  max-width: 750px;
  text-align: justify;
  padding: 1em;
  box-sizing: border-box;
  background-color: lightgray;
  color: darkgray;
}

summary{
  font-weight: 900;
  list-style: none;
  width: 49px;
  text-align: center;
  cursor: pointer;
}

.statement{
  background color: gray;
}

.update{
  background color: gray;
}
