body, html {
  margin: 0; /* 바깥쪽 여백 */
  padding: 0; /* 안쪽 여백 */
  max-width: 750px
  border: 0; /* 선 */
  font-size: 100%; /* 글자 크기 */
  font-style: normal; /* 글자 스타일 */
  font-weight: normal;
  line-height: 1.5;
  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
};

details{
  width: 100%;
  max-width: 750px;
  text-align: justify;
  padding: 1em;
  box-sizing: border-box;
  background-color: lightgray;
  color: darkgray;
}

summary{
  font-weight: 900;
  list-style: none;
  width: 49px;
  text-align: center;
  cursor: pointer;
}

.statement{
  background color: gray;
}

.update{
  background color: gray;
}
